@mixin flexCenter {
  display: flex;
  align-items: center;
}

@mixin flexBothCenter {
  @include flexCenter;
  justify-content: center;
}

$size: 6px;

@mixin scrollbar {
  overflow: auto;
  &::-webkit-scrollbar {
    width: $size;
  }

  /* Track */
  &::-webkit-scrollbar-track {
    background: none;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background-color: lightpink;
    border-radius: 2px;
  }

  /* Handle on hover */
  &::-webkit-scrollbar-thumb:hover {
    background: lightblue;
  }
}
